<nav id="header" class="fixed w-full z-30 top-0 text-white transition-colors duration-300">
  <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
    <!-- Logo -->
    <div class="pl-4 flex items-center">
      <a class="toggleColour flex items-center no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
        <svg class="h-8 w-8 fill-current transition-colors duration-300 toggleColour" id="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.005 512.005">
          <rect x="16.539" y="425.626" width="479.767" height="50.502" />
          <path class="plane-take-off" d="M510.7 189.151C505.271 168.95 484.565 156.956 464.365 162.385L330.156 198.367L155.924 35.878L107.19 49.008L211.729 230.183L86.232 263.767L36.614 224.754L0 234.603L45.957 314.27L65.274 347.727L105.802 336.869L240.011 300.886L349.726 271.469L483.935 235.486C504.134 230.057 516.129 209.352 510.7 189.151Z" />
        </svg>
        <span class="ml-2 toggleColour">LANDING</span>
      </a>
    </div>

    <!-- Botón para móviles -->
    <div class="block lg:hidden pr-4">
      <button id="nav-toggle" class="flex items-center p-1 text-white hover:text-gray-300 focus:outline-none">
        <svg class="fill-current h-6 w-6" viewBox="0 0 20 20">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>

    <!-- Contenido del menú -->
    <div id="nav-content" class="w-full flex-grow hidden lg:flex lg:items-center lg:w-auto mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20">
      <ul class="list-reset lg:flex justify-end flex-1 items-center">
        <li class="mr-3">
          <a class="toggleColour inline-block py-2 px-4 font-bold no-underline" href="#">Active</a>
        </li>
        <li class="mr-3">
          <a class="toggleColour inline-block py-2 px-4 no-underline hover:underline" href="#">Link</a>
        </li>
        <li class="mr-3">
          <a class="toggleColour inline-block py-2 px-4 no-underline hover:underline" href="#">Link</a>
        </li>
      </ul>
      <button id="navAction" class="mx-auto lg:mx-0 bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow hover:underline transition transform hover:scale-105 duration-300 ease-in-out">
        Action
      </button>
    </div>

  </div>
  <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
</nav>
